<!DOCTYPE html>
<html>
  <head>
    <% if @converter.root.options[:encoding] %>
      <meta http-equiv="Content-type" content="text/html;charset=<%= @converter.root.options[:encoding] %>">
    <% end %>
    <%
extend ::Kramdown::Utils::Html
title = ''
h = @converter.root.children.find {|c| c.type == :header}
if h
  collector = lambda {|c| c.children.collect {|cc| cc.type == :text ? escape_html(cc.value, :text) : collector.call(cc)}.join('')}
  title = collector.call(h)
end
%>
    <title><%= title %></title>
    <meta name="generator" content="kramdown <%= ::Kramdown::VERSION %>" />
    <style>

body {
  font-family: Palatino, serif;
  font-size: 14pt;
  line-height: 1.6;
  margin: 0 30px;
  /*max-width: 65ch;*/
}

header {
  text-align: center;
  break-after: page;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: 1em;
}

h2 {
  break-before: page;
}

p {
  margin: 0;
}

/* Add text indents to every paragraph except the first. This includes other
elements, so there will be no text indent after let's say an image or a list. 
p + p {
  text-indent: 2ch;
}
*/
hr {
  border: none;
  margin-bottom: 2em;
}

hr[data-break="hard"] {
  margin: 1em auto;
  font-size: 1.25em;
  color: currentColor;
  text-align: center;
}

hr[data-break="hard"]::before {
  content: "* * *";
}


      p:has(.code-title) {
        margin-bottom: 0;
        .code-title {
          font-weight: bold;
        }
      }

      .highlighter-rouge {
        border: 1px solid black;
        display: block;
        width: fit-content;
        margin: 1em 0;

        pre.highlight {
          margin: 0;
          padding: 20px;
        }

      }

      p:has(.code-title)+.highlighter-rouge {
        margin-top: 0;
      }

      <%= Rouge::Themes::Github.render(scope: '.highlight') %>
    </style>
  </head>
  <body>
    <%= @body %>
  </body>
</html>